<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css"/>
  <title>Roll me!</title>
</head>
<body class="all">
  <h2 class="title">D6 Roll</h2>
  <% if (d6Value === '0' || !d6Value) { %>
    <h3 class="instructions">Show the Kanji marker and Roll the die!</h3>
  <% } else { %> 
    <h3 class="instructions">Show the Kanji marker and Check your roll!</h3>
  <% } %> 
  <iframe class="camera" scrolling="no" src="/main"></iframe>
  <% if (d6Value === '0' || !d6Value) { %>
    <div class="buttons">
      <form action="/new_d6" method="POST"><button id="roll-first-button" onclick=""><h3>Roll!</h3></button></form>
    </div>
  <% } else { %> 
    <div class="buttons">
      <form action="/new_d6" method="POST"><button id="roll-again-button" onclick=""><h3>Roll Again!</h3></button></form>
      <form action="/reset_d6" method="POST"><button id="reset-roll-button" onclick=""><h3>Reset</h3></button></form>
    </div>
          <% } %> 
</body>
</html>