<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css"/>
  <title>Roll me!</title>
</head>
<body class="all">
  <h2 class="title">D6 Roll</h2>
  <% if (d6Value === '0' || !d6Value) { %>
    <h3 class="instructions">Show the Kanji marker and Roll the die!</h3>
  <% } else { %> 
    <h3 class="instructions">Show the Kanji marker and Check your roll!</h3>
  <% } %> 
  <iframe class="camera" scrolling="no" src="/main"></iframe>
  <div class="buttons">
  <% if (d6Value === '0' || !d6Value) { %>
    <form action="/new_d6" method="POST"><button onclick="">Roll!</button></form>
  <% } else { %> 
    <form action="/new_d6" method="POST"><button onclick="">Roll Again!</button></form>
    <form action="/reset_d6" method="POST"><button onclick="">Reset</button></form>
    <% } %> 
  </div>

</body>
</html>