<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roll me!</title>
</head>
<body>
  <p> Here you show the marker.</p>
  <iframe src="/main" width="500" height="400"></iframe>
  <% if (d6Value === '0' || !d6Value) { %> 
    <form action="/new_d6" method="POST"><button onclick="">Roll!</button></form>
  <% } else { %> 
    <p>You rolled number <%= d6Value %>! </p>
    <form action="/reset_d6" method="POST"><button onclick="">Reset</button></form>
  <% } %> 
</body>
</html>